<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>iVoteBallot | Voter Online Sign Up</title>

	<link rel="icon" type="images" href="../images/iVoteBallot Favicon/314860_star_icon.png" />
	<link rel="stylesheet" type="text/css" href="../styles/styles_Alabama_SignUp_Registrations.css" />

	<script language="JavaScript" type="text/javascript"> </script> 

</head>
	<body>

		<!-- -->

		<hr> 
		<br>

		<div id="flex_Container">
			<div id="row_Container">
				<div id="column_Containers">     
					<div id="left_Column">
						<div>
							<br>
							<br>						
							<br>
							<p id = "flex_SignUp_Title_01">														
								<a href = "../views/view_Alabama_SignUp_Voters.html">Alabama</a>                           
							</p>
							<br>
							<img id="flex_Alabama_Seal" src="../images/iVoteBallot_States_Icons/Alabama Seal.png" /></a>
							<br>
							<p id = "flex_SignUp_Title_02">
								<a href = "https://www.sos.alabama.gov/alabama-votes/voter/register-to-vote">Secretary of State</a>                           
							</p>
							<br>
							<p id = "flex_SignUp_Title_03">
								&							                          
							</p>
							<br>
							<p id = "flex_SignUp_Title_04">
								<a href = "../views/view_Home.html">iVoteBallot</a>                           
							</p>
							
							<br>
						</div>  					
					</div>			
				</div>
				
				<div id="column_Containers">
					<div id="right_Column">
						
						<form id="form_Voter_SignUp" name="voterSignUpForm" onsubmit="return validateVoterSignUpForm()" action="/votersignup" method="POST" >    
								<label>What is your Alabama AlphaNumeric card codes, sent to you by way of the USPS from the Department of Motor Vehicles? | </label>
									<p id="voter_Card_01">
										<img id="voter_Card_Image" src="../images/iVoteBallot_States_Icons/iVoteBallot - Example Card.png" />					
									</p> 

								<br>
								<input id="registrationCode" type="text" name="voterRegistrationCode" maxlength="50" />
								<br>
								<span id="voterRegistrationCodeErrorMessage"></span>
								<br>							
								<label>First Name |</label>   
								<br>               
								<input id="firstName" type="text" name="voterFirstName" maxlength="75">
								<br>
								<span id="voterFirstNameErrorMessage"></span>
								<br>
								<label>Middle Name | optional</label>  
								<br>
								<input id="middleName" type="text" name="voterMiddleName" maxlength="75">
								<br>
								<span id="voterMiddleNameErrorMessage"></span>
								<br>
								<label>Last Name |</label> 
								<br>
								<input id="lastName" type="text" name="voterLastName" maxlength="75">
								<br>
								<span id="voterLastNameErrorMessage"></span>								
								<br>
								<select id="suffix" name="voterNameSuffix">
									<option id="selectBackground" value="" disable selected hidden>Suffix (optional)</option>
										<option value = JR>JR</option>
										<option value = SR>SR</option>
										<option value = I>I</option>
										<option value = II>II</option>
										<option value = III>III</option>
										<option value = IV>IV</option>
										<option value = V>V</option>
								</select>
								<br>
								<span id = "voterSuffixErrorMessage"></span>
								<br>
								<label for="text">What type of Alabama identification do you have? |</label>
								<br>
								<input id="idTypes" type="text" multiple name="voterIdType" list="voterIdList" size="64" />

								<datalist id="voterIdList">
									<option value="" disable selected hidden></option>
										<option value="Alabama Driver License"></option>
										<option value="Alabama Real Id Driver License"></option>
										<option value="Alabama State Id Card"></option>	
										<option value="Military Id"></option>				
								</datalist>
								<br>
								<span id = "voterIdTypesErrorMessage"></span>
								<br>
								<label>Email Address |</label> 
								<br>
								<input id="email" type="text" name="voterEmail" maxlength="250">
								<br>
								<span id="voterEmailErrorMessage"></span>
								<br>
								<label>Confirm Email Address |</label>
								<br>
								<input id="confirmEmail" type="text" name="voterConfirmEmail" maxlength="250">
								<br>
								<span id="voterConfirmEmailErrorMessage"></span>
								<br>
								<label>Residential Address | (No Post Office Box)</label>
								<br>
								<input id="address" type="text" name="voterAddress" maxlength="400">
								<br>
								<span id="voterAddressErrorMessage"></span>
								<br>

								<select id="countrySelect" name="voterCountrySelection" size="1">
									<option value="" selected="selected">Select Country</option>
								</select>
								<br>
								<br>
							  
								<select id="stateSelect" name="voterStateSelection" size="1">
									<option value="" selected="selected">Select State</option>
								</select>
								
								<select id="countySelect" name="voterCountySelection" size="1">
									<option value="" selected="selected">Select County</option>
								</select>
								<br>
								<br>
															    
								<select id="citySelect" name="voterCitySelection" size="1">
									<option value="" selected="selected">Select City</option>
								</select>								

								<select id="zipSelect" name="voterZipSelection" size="1">
									<option value="" selected="selected">Select Zip</option>
								</select>
								<br>
								<br>

								<select id="membershipQuestion" name="userMembershipQuestion">
									<option id="selectBackground" value=""disable selected hidden>Do You Have An Account with Us?</option>
										<option value = Account_Yes>Yes</option>
										<option value = Account_No>No</option>                                    
								</select>
								<br>
								<span id = "userAccouNetricsQuestionErrorMessage"></span>
								<br>
								
								<br>
								<br>
								<input id="submitButton" type="submit" name="submit_Button"  value="SUBMIT"></button>
								<br> 
								
						</form>
				
					</div>
				</div>
			</div> 
		</div>


		<script>   
			/* Sarai Hannah Ajai have created a contant/variable; in order to store all United States country's, states, counties, cities and
			   zip codes in a retrievable arrays connected links in order for the voters to have a conveniences to select from a drop down 
			   menus. */
			const countryStateCountyCityZipData = {
				'USA': {
					'Alabama': {
						'Autauga': {
							'Autaugaville': ['36003'],
							'Billingsley': ['36006'],
							'Marbury': ['36022', '36051'],
							'Pine Level': ['36066', '36067', '36022'],
							'Prattville': ['36066', '36067']
						},
						'Baldwin': {
							'Bay Minette': ['36507'],
							'Bon Secour': ['36511', '36535'],
							'Daphne': ['36527', '36526'],
							'Elberta': ['36530'],
							'Fairhope': ['36532', '36559'],
							'Foley': ['36535', '36580'],
							'Gulf Shores': ['36542', '36547'],
							'Lillian': ['36549'],
							'Loxley': ['36551', '36527', '36578'],
							'Magnolia Springs': ['36535', '36555'],
							'Orange Beach': ['36561', '36530'],
							'Perdido': ['36562'],
							'Perdido Beach': ['36530'],
							'Point Clear': ['36564', '36532'],
							'Robertsdale': ['36567'],
							'Silverhill': ['36576'],
							'Spanish Fort': ['36507', '36527'],
							'Stapleton': ['36527', '36578'],
							'Stockton': ['36507', '36579'],
							'Summerdale': ['36535', '36580']
						},
						'Barbour': {
							'Bakerhill': ['36027'],
							'Blue Springs': ['36374', '36017'],
							'Clayton': ['36016'],
							'Clio': ['36017'],
							'Eufaula': ['36027'],
							'Louisville': ['36048']
						},
						'Bibb': {
							'Brent': ['35042', '35034'],
							'Centreville': ['35042'],
							'West Blocton': ['35184'],
							'Woodstock': ['35188', '35111']
						},
						'Blount': {
							'Allgood': ['35013', '35121'],
							'Blountsville': ['35031'],
							'Cleveland': ['35049', '35121'],
							'County Line': ['35172'],
							'Hayden': ['35180', '35079'],
							'Highland Lake': ['35121'],
							'Locust Fork': ['35133', '35097'],
							'Nectar': ['35079', '35049'],
							'Oneonta': ['35121'],
							'Remlap': ['35133'],
							'Rosa': ['35031', '35121'],
							'Smoke Rise': ['35180'],
							'Snead': ['35952'],
							'Susan Moore': ['35952', '35031', '35121']
						},
						'Bullock': {
							'Midway': ['36053'],
							'Union Springs': ['36089']
						},
						'Butler': {
							'Georgiana': ['36033'],
							'Greenville': ['36037'],
							'McKenzie': ['36456']
						},
						'Calhoun': {
							'Alexandria': ['36265', '36250'],
							'Anniston': ['36201', '36206', '36207', '36205'],
							'Choccolocco': ['36207'],
							'Hobson City': ['36203', '36201'],
							'Jacksonville': ['36265'],
							'Nances Creek': ['36265', '36272'],
							'Ohatchee': ['36271'],
							'Oxford': ['36260', '36203'],
							'Piedmont': ['36272'],
							'Saks': ['36201', '36206'],
							'Weaver': ['36277'],
							'West End-Cobb Town': ['36201'],
							'White Plains': ['36207']
						},
						'Chambers': {
							'Abanda': ['36276'],
							'Cusseta': ['36852'],
							'Five Points': ['36855'],
							'Fredonia': ['36855', '36863'],
							'Huguley': ['36863'],
							'La Fayette': ['36862'],
							'Lanett': ['36863'],
							'Penton': ['36862'],
							'Standing Rock': ['36855'],
							'Valley': ['36854'],
							'Waverly': ['36879'],
						},
						'Cherokee': {
							'Broomtown': ['35973'],
							'Cedar Bluff': ['35959'],
							'Centre': ['35960'],
							'Gaylesville': ['35973'],
							'Leesburg': ['35983'],
							'Sand Rock': ['35983'],
							'Spring Garden': ['36272']
						},
						'Chilton': {
							'Clanton': ['35045', '35046'],
							'Jemison': ['35085'],
							'Maplesville': ['36750'],
							'Thorsby': ['35171']
						},
						'Choctaw': {
							'Butler': ['36904'],
							'Cullomburg': ['36919'],
							'Gilbertown': ['36908'],
							'Lisman': ['36912'],
							'Needham': ['36915'],
							'Pennington': ['36916'],
							'Silas': ['36919'],
							'Toxey': ['36921']
						},
						'Clarke': {
							'Carlton': ['36545'],
							'Coffeeville': ['36524'],
							'Fulton': ['36446', '36451'],
							'Grove Hill': ['36451'],
							'Jackson': ['36545'],
							'Rockville': ['36545'],
							'Thomasville': ['36784'],
							'Whatley': ['36482']
						},
						'Clay': {
							'Ashland': ['36251'],
							'Delta': ['36258'],
							'Hollins': ['35072'],
							'Lineville': ['36266'],
							'Millerville': ['35072', '36267', '36251']
						},
						'Cleburne': {
							'Edwardsville': ['36262', '36272'],
							'Fruithurst': ['36262'],
							'Heflin': ['36264'],
							'Hollis Crossroads': ['36264', '36258'],
							'Ranburne': ['36273']
						},
						'Coffee': {
							'Elba': ['36323'],
							'Enterprise': ['36330'],
							'Kinston': ['36467', '36453'],
							'New Brockton': ['36351']
						},
						'Colbert': {
							'Cherokee': ['35616'],
							'Leighton':	['35646'],
							'Littleville': ['35674', '35654'],
							'Muscle Shoals': ['35674', '35661'],
							'Sheffield': ['35660'],
							'Tuscumbia': ['35674']
						},
						'Conecuh': {
							'Castleberry': ['36432'],
							'Evergreen': ['36401'],
							'Repton': ['36475']	
						},
						'Coosa': {
							'Equality': ['36026'],
							'Goodwater': ['35072'],
							'Hanover': ['35072', '35136'],
							'Hissop': ['35136', '35089'],
							'Kellyton':	['35089'],
							'Nixburg': ['35010', '35089'],
							'Ray': ['35010'],
							'Rockford': ['35136'],
							'Stewartville': ['35151', '35183'],
							'Weogufka': ['35151', '35183']
						},
						'Covington': {
							'Andalusia': ['36420', '36421'],
							'Babbie': ['36467', '36421'],
							'Carolina': ['36420'],
							'Florala': ['36442'],
							'Gantt': ['36038', '36421'],
							'Heath': ['36421'],
							'Horn Hill': ['36467'],
							'Libertyville': ['36420'],
							'Lockhart': ['36442', '36455'],
							'Onycha': ['36467'],
							'Opp': ['36467'],
							'Red Level': ['36474'],
							'River Falls': ['36474', '36476', '36421'],
							'Sanford': ['36420', '36421']
						},
						'Crenshaw': {
							'Brantley': ['36009'],
							'Dozier': ['36028'],							
							'Glenwood': ['36035', '36034'],
							'Luverne': ['36049'],							
							'Petrey': ['36049'],
							'Rutledge': ['36049'] 
						},
						'Cullman': {
							'Baileyton': ['35019'],
							'Berlin': ['35058', '35055'],
							'Colony': ['35077'],
							'Cullman': ['35058', '35057', '35055'],
							'Dodge City': ['35057', '35077'],
							'East Point': ['35055'],
							'Fairview':	['35058'],
							'Garden City': ['35077', '35070'],
							'Good Hope': ['35057', '35055', '35077'],
							'Hanceville': ['35077'],
							'Holly Pond': ['35055', '35083'],
							'Joppa': ['35016', '35087'],
							'South Vinemont': ['35058', '35179'],
							'West Point': ['35057', '35179']
						},
						'Dale': {
							'Ariton': ['36311'],
							'Clayhatchee': ['36322'],
							'Daleville': ['36322'],
							'Fort Rucker': ['36362'],
							'Grimes': ['36303', '36350'],
							'Level Plains': ['36330', '36322'],
							'Midland City': ['36350'],
							'Napier Field': ['36303'],
							'Newton': ['36350', '36352', '36360'],
							'Ozark': ['36360'],
							'Pinckard':	['36371', '36350']
						},
						'Dallas': {
							'Orrville': ['36767'],
							'Selma': ['36703', '36701'],
							'Selmont-West Selmont': ['36703', '36701'],
							'Valley Grande': ['36703', '36701']
						},
						'DeKalb': {
							'Collinsville': ['35961'],
							'Crossville': ['35962'],
							'Fort Payne': ['35967', '35968'],
							'Fyffe': ['35971'],
							'Geraldine': ['35974'],
							'Hammondville': ['35989'],
							'Henagar': ['35978'],
							'Ider': ['35981', '35978'],
							'Mentone': ['35984'],
							'Pine Ridge': ['35968'],
							'Powell': ['35986', '35971'],
							'Rainsville': ['35986'],
							'Shiloh': ['35986', '35971'],
							'Sylvania': ['35988', '35968'],
							'Valley Head': ['35989']
						},
						'Elmore': {
							'Blue Ridge': ['36093'],	
							'Coosada': ['36020'],	
							'Deatsville': ['36022'],								
							'Eclectic': ['36024'],	
							'Elmore': ['36022', '36025'],	
							'Emerald Mountain': ['36093', '36078'],	
							'Holtville': ['36092', '36022'],	
							'Millbrook': ['36054', '36022'],	
							'Redland': ['36093'],	
							'Tallassee': ['36078'],	
							'Wetumpka': ['36093', '36092']	
						},
						'Escambia': {
							'Atmore': ['36503', '36502'],
							'Brewton': ['36426'],
							'East Brewton': ['36426'],
							'Flomaton': ['36441'],
							'Pollard': ['36441'],
							'Riverview': ['36426']
						},
						'Etowah': {
							'Altoona': ['35952'],
							'Attalla': ['35954'],
							'Ballplay': ['35903', '36272'],
							'Bristow Cove': ['35956'],
							'Carlisle-Rockledge': ['35956', '35954'],
							'Coats Bend': ['35901'],
							'Egypt': ['35952', '35956'],
							'Gadsden': ['35901', '35903', '35904'],
							'Gallant': ['35972'],
							'Glencoe': ['35903', '35905'],
							'Hokes Bluff': ['35903', '35905'],
							'Ivalee': ['35954'],
							'Lookout Mountain': ['35904'],
							'New Union': ['35956'],
							'Rainbow City': ['35906'],
							'Reece City': ['35954'],
							'Ridgeville': ['35954'],
							'Sardis City': ['35956'],
							'Southside': ['35907'],
							'Tidmore Bend': ['35901'],
							'Walnut Grove': ['35952', '35990'],
							'Whitesboro': ['35956']
						},
						'Fayette': {
							'Belk': ['35545', '35555'],
							'Berry': ['35546'],
							'Fayette': ['35555'],
							'Glen Allen': ['35559', '35594', '35554']
						},
						'Franklin': {
							'Belgreen': ['35653'],
							'Hodges': ['35571'],
							'Phil Campbell': ['35581'],
							'Red Bay': ['35582'],
							'Russellville': ['35654', '35653'],
							'Spruce Pine': ['35585', '35581'],
							'Vina': ['35593']
						},
						'Geneva': {
							'Black': ['36314'],
							'Coffee Springs': ['36318'],
							'Eunola': ['36340'],
							'Geneva': ['36340'],
							'Hartford': ['36344'],
							'Malvern': ['36375', '36301', '36305'],
							'Samson': ['36477'],
							'Slocomb': ['36375']
						},
						'Greene': {
							'Boligee': ['35443'],
							'Eutaw': ['35462'],
							'Forkland': ['36740'],
							'Union': ['35462']
						},					
				
				},
				
			}
		};


			window.onload = function () {
				
				//Get html elements
				var countrySelect = document.getElementById("countrySelect");
				var stateSelect = document.getElementById("stateSelect");	
				var countySelect = document.getElementById("countySelect");	
				var citySelect= document.getElementById("citySelect");	
				var zipSelect = document.getElementById("zipSelect");
				
				//Load countries
				for (var country in countryStateCountyCityZipData) {
					countrySelect.options[countrySelect.options.length] = new Option(country, country);
				}
				
				/* Create function to allow voter to change his/her country. */
				countrySelect.onchange = function () {
					
					stateSelect.length = 1; // remove all options bar first
					countySelect.length = 1; // remove all options bar first
					citySelect.length = 1; // remove all options bar first
					zipSelect.length = 1; // remove all options bar first
					
					if (this.selectedIndex < 1)
						return; // done
					
					for (var state in countryStateCountyCityZipData[this.value]) {
						stateSelect.options[stateSelect.options.length] = new Option(state, state);
					}
				}
				
				/* Create function to allow voter to change his/her state. */
				stateSelect.onchange = function () {

					countySelect.length = 1; // remove all options bar first
					citySelect.length = 1; // remove all options bar first
					zipSelect.length = 1; // remove all options bar first
					
					if (this.selectedIndex < 1)
						return; // done
					
					for (var county in countryStateCountyCityZipData[countrySelect.value][this.value]) {
						countySelect.options[countySelect.options.length] = new Option(county, county);
					}
				}
				
				/* Create function to allow voter to change his/her county. */
				countySelect.onchange = function () {		 
						
						citySelect.length = 1; // remove all options bar first
						zipSelect.length = 1; // remove all options bar first
						
						if (this.selectedIndex < 1)
							return; // done
						
						for (var city in countryStateCountyCityZipData[countrySelect.value][stateSelect.value][this.value]) {
							citySelect.options[citySelect.options.length] = new Option(city, city);
						}
					}
					

				/* Create function to allow voter to change his/her city and zip code. */
				citySelect.onchange = function () {
					zipSelect.length = 1; // remove all options bar first
					
					if (this.selectedIndex < 1)
						return; // done
					
					var zips = countryStateCountyCityZipData[countrySelect.value][stateSelect.value][countySelect.value][this.value];
					for (var i = 0; i < zips.length; i++) {
						zipSelect.options[zipSelect.options.length] = new Option(zips[i], zips[i]);
					}
				}	
			}


			const validateContactUsForm = (e) => {    


				
				console.log('Sarai Hannah Ajai is testing her written JavaScript programmatic codes; in order to validate her contact us form has opened up correctly within the HTML webpage.')

				const userFirstName = document.getElementById('firstName').value;
				window.sessionStorage.setItem('userfirstname', userFirstName);
				const userMiddleName = document.getElementById('middleName').value;
				window.sessionStorage.setItem('usermiddlename', userMiddleName);
				const userLastName = document.getElementById('lastName').value;
				window.sessionStorage.setItem('userlastname', userLastName);
				const userEmail = document.getElementById('email').value;
				const userConfirmEmail = document.getElementById('confirmEmail').value;
				const userMembershipQuestion = document.getElementById('membershipQuestion').value;
				const userConcern = document.getElementById('concern').value;
				const userTextMessage = document.getElementById('textMessage').value;   
				const userRandomAlphaNumeric = document.getElementById('randomAlphaNumeric');                                   

				const regExName = /^[A-Za-z\s]+$/;
				const regExEmail = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;                                            

													
				if (userFirstName === '' || userFirstName == null || userFirstName.length <= 2 || !userFirstName.match(regExName)) {                                                               
					document.getElementById('userFirstNameErrorMessage').innerHTML = 'Your first name is a required input field or you must enter more than two characters into the first name required input field.';

					setTimeout(function() {
						document.getElementById('userFirstNameErrorMessage').innerHTML = '';
					},
					9000)

					return false;
										
				}
				
				if (userMiddleName === '' || userMiddleName == null) {
					document.getElementById('userMiddleNameErrorMessage').innerHTML = 'Do you have a middle name? If so, please type in your middle name into the input field or skip the middle name input field.';

					setTimeout(function() {
						document.getElementById('userMiddleNameErrorMessage').innerHTML = '';
					},
					9000)                                           
										
					} else if (userMiddleName.length <= 2 || !userMiddleName.match(regExName)) {
					document.getElementById('userMiddleNameErrorMessage').innerHTML = 'Your middle name is an optional input field; however, you must enter more than two characters into the middle name required input field.';

					setTimeout(function() {
						document.getElementById('userMiddleNameErrorMessage').innerHTML = '';
					},
					9000)
				
					return false;  

				}                                  

				if (userLastName === '' || userLastName == null || userLastName.length <= 2 || !userLastName.match(regExName)) {
					document.getElementById('userLastNameErrorMessage').innerHTML = 'Your last name is a required input field or you must enter more than two characters into the last name required input field.';

					setTimeout(function() {
						document.getElementById('userLastNameErrorMessage').innerHTML = '';
					},
					9000)

					return false;

				}

				if (userEmail === '' || userEmail == null || userEmail.length <= 6 || !userEmail.match(regExEmail)) {
					document.getElementById('userEmailErrorMessage').innerHTML = 'Your email address is a required input field and you must enter the correct email address format into the require input field.';

					setTimeout(function() {
						document.getElementById('userEmailErrorMessage').innerHTML = '';
					},
					9000)

					return false;

				}

				if (userConfirmEmail === '' || userConfirmEmail == null || userConfirmEmail.length <= 6 || !userConfirmEmail.match(regExEmail)) {
					document.getElementById('userConfirmEmailErrorMessage').innerHTML = 'Your confirm email address is a required input field and you must enter the correct confirm email address format into the require input field.';

					setTimeout(function() {
						document.getElementById('userConfirmEmailErrorMessage').innerHTML = '';
					},
					9000)

					return false;

				}
				
				if (userEmail != userConfirmEmail) {
					document.getElementById('userConfirmEmailErrorMessage').innerHTML = 'Your email address does not match to your confirm email address which are required input fields.';

					setTimeout(function() {
						document.getElementById('userConfirmEmailErrorMessage').innerHTML = '';
					},
					9000)

					return false;

				}

				if (userMembershipQuestion === '' || userMembershipQuestion == null) {
					document.getElementById('userAccouNetricsQuestionErrorMessage').innerHTML = 'You must select your AccouNetrics membership status which is a selection required field.';

					setTimeout(function() {
						document.getElementById('userAccouNetricsQuestionErrorMessage').innerHTML = '';
					},
					9000)

					return false;

				}

				if (userConcern === '' || userConcern == null) {
					document.getElementById('userConcernErrorMessage').innerHTML = 'You must select your topic concern status which is a selection required field.';

					setTimeout(function() {
						document.getElementById('userConcernErrorMessage').innerHTML = '';
					},
					9000)

					return false;

				}
				
				if (userTextMessage === '' || userTextMessage == null || userTextMessage.length <= 25) {
					document.getElementById('userTextErrorMessage').innerHTML = 'Your text message is a require input field and you must enter more than twenty-five characters into the input required field.';

					setTimeout(function() {
						document.getElementById('userTextErrorMessage').innerHTML = '';
					},
					9000)

					return false;                                       

				}                                      
																			
				if (userRandomAlphaNumeric === '' || userRandomAlphaNumeric == null) {
					//do nothing for now

					return false;
				} 

				function randomAlphaNumeric(length) {
					var randomAlphaNumeric;
					var number = '';

					for(var count = 0; count < length; count++) {
						randomAlphaNumeric = Math.floor(Math.random() * 10);
						number += randomAlphaNumeric.toString();
					}
					return number;
				}			
				
				userRandomAlphaNumeric.value = randomAlphaNumeric(12);

				console.log(userRandomAlphaNumeric);			                                                                  

				e.preventDefault();                                      
				
					form.addEventListner('submit',randomAlphaNumeric, validateContactUsForm);
					return true; 
					
				}   

				function countCharacters(textMessage) {
					const userCountTextMessage = document.getElementById('textMessage').value.length;
				
					console.log(userCountTextMessage);
					if (userCountTextMessage > 0 || userCountTextMessage <= 1000 - 1 ) {
						document.getElementById('textareaRemainingCharacters').innerHTML = 1000 - userCountTextMessage + ' Out of 1000 Remaining Characters';
					}
					if (userCountTextMessage > 1000 - 1) {
						document.getElementById('textareaRemainingCharacters').innerHTML = "Maximum characters reached!";
					}
				}                                    
																	
		</script>



	</body>
</html>