<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Alabama Voters Sign Up</title>

	<link rel="icon" type="images" href="../images/iVoteBallot Favicon/314860_star_icon.png" />
	<link rel="stylesheet" href="../styles/styles_Alabama_SignUp_Voters.css" />

	<script language="JavaScript" type="text/javascript"> </script> 
</head>
<body>	

	<hr id="redLines_HR">	
	<hr id="blueLines_HR">

	<div id="flex_Container_StarsAndStrips">
		<ul id="navigational_Bar_01">
			<li><a href="#">About Us</a></li>
			<li><a href="#">Alabama Online Sign Up</a></li>				
			<li><a href="#">Log In</a></li>			
		</ul>
	</div>
	
	<section>

		<div id="flex_Container_FallingFlagBalls">
			
			<video id="background_Video" autoplay loop>
			
				<source src="../videos/Vecteezy_USA_Flag_Emoji_Ball_Falling_Screen_11168759_514 Free MP4 Trim.mp4" type="video/mp4" />
				
			</video>	
				<ul id="text_Container">			
					<li id="iVoteBallot_Title_01"> Alabama |<a id="voter_Link_HomePage" href = "../views/view_Home.html">iVoteBallot</a></li>			           
				</ul>		
				
		</div>

	</section>				
	
	<br>

	<div id="flex_Container">
		<div id="flex_Container_Row">
			<div id="flex_Container_Column">

				<div id="left_Column">
					<p id="iVoteBallot_Title_02">Have You Receive Your Voter Registration Card?</p>
				
					<p id="iVoteBallot_Title_02">And, If Your Answer is Yes, then</p>

					<p id="voter_Card_01">
						<a href="https://www.sos.alabama.gov/alabama-votes/voter/register-to-vote"><img id="voter_Card_Image" src="../images/iVoteBallot_States_Icons/iVoteBallot - Example Card.png" /></a>					
					</p> 

					<p id="iVoteBallot_Title_03">
						You will need your official Alabama Driver License or Real ID License or State Identification Card;
						in order to complete your voter registration online account.						
					</p>

				</div>			
			</div>

			<div id="flex_Container_Column">

				<div id="right_Column">
					
					<p id="iVoteBallot_Title_04">Register to Vote Online in Alabama</p>	
					<p id="iVoteBallot_Title_05">Click onto the Words Below</p>
					<p id="iVoteBallot_Title_06">iVoteBallot | Alabama</p>		
						
				</div>

			</div>		

		</div>

	</div>

	<hr id="redLines_HR">	
	<hr id="blueLines_HR">

	
	<div id="footer_flex_container">        

		<ul id = "socialMedias_01">
			<li><a href = "view_About.html">About</a></li>
			<li><a href = "view_HelpCenter.html">Help Center</a></li>
			<li><a href = "http://www.youtube.com">Terms of Service</a></li>				
			<li><a href = "http://www.whatsapp.com">Privacy Policy</a></li>
			<li><a href = "http://www.Instagram.com">Cookie Policy</a></li>
			<li><a href = "http://www.Google.com">Social Medias</a></li>                
		</ul>			
		
		<hr id="blueLines_HR">

		<ul id="socialMedias_01">
			<li><a href="http://www.twitter.com"><img src="../images/iVoteBallot_SocialMedia_Icons/6214703_bird_logo_twitter_icon.png" /></a></li>
			<li><a href="http://www.facebook.com"><img src="../images/iVoteBallot_SocialMedia_Icons/433084_facebook_media_social_network_icon.png" /></a></li>
			<li><a href="http://www.youtube.com"><img src="../images/iVoteBallot_SocialMedia_Icons/2138495_colored_high quality_media_social_social media_icon.png" /></a></li>
			<li><a href="http://www.whatsapp.com"><img src="../images/iVoteBallot_SocialMedia_Icons/4213464_app_chat_communication_message_messenger_icon.png" /></a></li>
			<li><a href="http://www.instagram.com"><img src="../images/iVoteBallot_SocialMedia_Icons/1217174_instagram_icon.png" /></a></li>
			<li><a href="http://www.slack.com"><img src="../images/iVoteBallot_SocialMedia_Icons/8198236_slack_social network_interaction_communication_social media_icon.png" /></a></li>
			<li><a href="http://www.google.com"><img src="../images/iVoteBallot_SocialMedia_Icons/9022495_google_logo_duotone_icon.png" /></a></li>
			<li><a href="http://www.tiktok.com"><img src="../images/iVoteBallot_SocialMedia_Icons/9027137_tiktok_logo_thin_icon.png" /></a></li>
			<li><a href="http://www.tumblr.com"><img src="../images/iVoteBallot_SocialMedia_Icons/433078_media_social_tumblr_network_icon.png" /></a></li>
			<li><a href="http://www.linkedIn.com"><img src="../images/iVoteBallot_SocialMedia_Icons/777926_linkedin_business_communication_connection_network_icon.png" /></a></li>            
		</ul> 
		
		<div id="footer_flex_container">       
			<ul id="iVoteBallot_Footer_Insignia_01">  
				<a href="">© 2023 iVoteBallot</a></li>
			</ul>
		<div>	

	</div> 






	
</body>
</html>