<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Voter Confirm Login</title>

	<link rel="icon" type="images" href="../images/iVoteBallot Favicon/314860_star_icon.png" />
	<link rel="stylesheet" type="text/css" href="../styles/styles_LoginRegistrationsConfirm_ByEmail.css" />	


</head>
	<body>

		<!---->

		<hr id="redLines_HR">	
		<hr id="blueLines_HR">		
		
		<div id="flex_Container_StarsAndStrips">
			<ul id="navigational_Bar_01">
				<li><a href="../views/view_AboutUs.html">About Us</a></li>
				<li><a href="../views/view_Alabama_SignUp_Voters.html">Sign Up</a></li>				
				<li><a href=".//view_Login_Voters.html">Log In</a></li>			
			</ul>
		</div>

		<hr id="redLines_HR">	
		<hr id="blueLines_HR">
		<br>	


		
		
		<div id="flex_Container">
			<div id="flex_Container_Row">
				<div id="flex_Container_Column">

					<div id="left_Column">																	

						<video id="background_Video" width="100%" height="100%" autoplay="1" >
						
							<source src="../videos/Vecteezy_USA_Flag_Emoji_Ball_Falling_Screen_11168759_514 Free MP4 Trim.mp4" type="video/mp4" />
							
						</video>

						<p id="message_01">
							At iVoteBallot.com, we are proud to offer an intuitive, secure platform for you to cast your votes. 

							Our goal is to make it as simple as possible to register and cast ballots with accuracy and speed, while 
							still offering the highest levels of security available. 
							
							By confirming your email address, you can ensure that your vote will be appropriately and accurately processed, 
							providing your voice is heard in our nation's democratic process.

						</p>
						<br>											
							
					</div>
					<br>
				</div>

				<div id="flex_Container_Column">
					<div id="right_Column">	

						<hr id="redLines_HR">	
						<hr id="blueLines_HR">
						
						<div id="userConfirmedContactUs_Flex-Container_01">
							<div id="accouNetrics_Header_01">Thank You,

								<p id="paragraph_Header_01">
									<span id="userfirstNameConfirm"></span> 
									<span id="userMiddleNameConfirm"></span>
									<span id="userlastNameConfirm"></span>
									<br>
									<br>
									<p id="accouNetrics_Message_01">Our, Customer Care Services has successfully received your contact us concern email inquiries, and
										we will respond to your AccouNetrics' contact us concern email inquiries within 14 business days. In addition, please check your email
										address account inbox or spam folder for your assigned AccouNetrics' customer care services confirmation number for
										your future references. 
									</p>
									<p id="accouNetrics_Message_02">
										We are always here for you and thank again for reaching out to us.
									</p>
									<br>
									<button id="submitHomePageButton" type="submit" onclick="window.location.href='//localhost:3001/view_Home.html';">Return to iVoteBallot's Home Page</button>				
								</p>			
							
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

		<hr id="redLines_HR">

		<div id="footer_flex_container">        

			<ul id = "socialMedias_01">
				<li><a href = "../views/view_AboutUs.html">About</a></li>
				<li><a href = "#">Help Center</a></li>
				<li><a href = "#">Terms of Service</a></li>				
				<li><a href = "#">Privacy Policy</a></li>
				<li><a href = "#">Cookie Policy</a></li>
				<li><a href = "#">Social Medias</a></li>                
			</ul>			
			
			<hr id="blueLines_HR">

			<ul id="socialMedias_01">
				<li><a href="http://www.twitter.com"><img src="../images/iVoteBallot_SocialMedia_Icons/6214703_bird_logo_twitter_icon.png" /></a></li>
				<li><a href="http://www.facebook.com"><img src="../images/iVoteBallot_SocialMedia_Icons/433084_facebook_media_social_network_icon.png" /></a></li>
				<li><a href="http://www.youtube.com"><img src="../images/iVoteBallot_SocialMedia_Icons/2138495_colored_high quality_media_social_social media_icon.png" /></a></li>
				<li><a href="http://www.whatsapp.com"><img src="../images/iVoteBallot_SocialMedia_Icons/4213464_app_chat_communication_message_messenger_icon.png" /></a></li>
				<li><a href="http://www.instagram.com"><img src="../images/iVoteBallot_SocialMedia_Icons/1217174_instagram_icon.png" /></a></li>
				<li><a href="http://www.slack.com"><img src="../images/iVoteBallot_SocialMedia_Icons/8198236_slack_social network_interaction_communication_social media_icon.png" /></a></li>
				<li><a href="http://www.google.com"><img src="../images/iVoteBallot_SocialMedia_Icons/9022495_google_logo_duotone_icon.png" /></a></li>
				<li><a href="http://www.tiktok.com"><img src="../images/iVoteBallot_SocialMedia_Icons/9027137_tiktok_logo_thin_icon.png" /></a></li>
				<li><a href="http://www.tumblr.com"><img src="../images/iVoteBallot_SocialMedia_Icons/433078_media_social_tumblr_network_icon.png" /></a></li>
				<li><a href="http://www.linkedIn.com"><img src="../images/iVoteBallot_SocialMedia_Icons/777926_linkedin_business_communication_connection_network_icon.png" /></a></li>            
			</ul> 
			
		<div id="footer_flex_container">       
			<ul id="iVoteBallot_Footer_Insignia_01">  
				<a href="">© 2023 iVoteBallot</a></li>
			</ul>
		<div>
			
			


		<script type="text/javascript">

		let background_Video = document.getElementById("background_Video");
		let message_01 = document.getElementById("message_01");

		background_Video.addEventListener("ended", () => {
		background_Video.style.opacity = 0;
		message_01.style.opacity = 1;
		});


		document.getElementById('userfirstNameConfirm').innerHTML = sessionStorage.getItem('userfirstname');
		document.getElementById('userMiddleNameConfirm').innerHTML = sessionStorage.getItem('usermiddlename');
		document.getElementById('userlastNameConfirm').innerHTML = sessionStorage.getItem('userlastname');			
	
		/* Sarai Hannah Ajai had written her JavaScript programmatic codes are to check, if user[s] data input fields information is/are eligibile for browser support. */
		if (typeof(Storage) !== 'undefined') {
			window.document.getElementById('userfirstNameConfirm').innerHTML = sessionStorage.getItem('userfirstname');

		} else {
			window.document.getElementById('userfirstNameConfirm').innerHTML = sessionStorage.getItem('userfirstname') = "We are sorry, your browser does not support session web storage capabilities in order to store your contact us data input fields information onto your session computer device.";
		}	



		</script>



		
	</body>
</html>