<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Alabama Voters Sign Up</title>

	<link rel="icon" type="images" href="../images/iVoteBallot Favicon/314860_star_icon.png" />
	<link rel="stylesheet" type="text/css" href="../styles/styles_Alabama_SignUp_Voters.css" />

	<script language="JavaScript" type="text/javascript"> </script> 
</head>
<body>	

	<hr id="redLines_HR"> 
	<hr id="blueLines_HR">

	<div id="flex_Container_StarsAndStrips">
		<ul id="navigational_Bar_01">
			<li><a href="#">About Us</a></li>				
			<li><a href="#">Log In</a></li>			
		</ul>
	</div>
		
	 
		<ul id = "iVoteBallot_Link_01">
			
			<li id="iVoteBallot_Title_01"> Alabama |<a id="voter_Link_HomePage" href = "../views/view_Home.html">iVoteBallot</a></li>			           
		</ul>		
	
	<br>

	<div id="flex_Container">
		<div id="flex_Container_Row">
			<div id="flex_Container_Column">

				<div id="left_Column">
					<p id="iVoteBallot_Title_02">You Have Receive Your Voter Registration Card?</p>
				
					<p id="iVoteBallot_Title_02">And, If Your Answer is Yes, then</p>

					<p id="voter_Card_01">
						<a href="https://www.sos.alabama.gov/alabama-votes/voter/register-to-vote"><img id="voter_Card_Image" src="../images/iVoteBallot_States_Icons/iVoteBallot - Example Card.png" /></a>					
					</p> 

					<p id="iVoteBallot_Title_03">
						You will need your official Alabama Driver License or Real ID License or State Identification Card;
						in order to complete your voter registration online account.						
					</p>

				</div>			
			</div>

			<div id="flex_Container_Column">

				<div id="right_Column">
					
					<p id="iVoteBallot_Title_04">Register to Vote in Alabama</p>	
					<p id="iVoteBallot_Title_04">Click onto the Words Below</p>
					<p id="iVoteBallot_Title_04">iVoteBallot | Alabama</p>		
						
				</div>

			</div>		

		</div>

	</div>



			

	
</body>
</html>