<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Alabama Voters Sign Up</title>

	<link rel="icon" type="images" href="../images/iVoteBallot Favicon/314860_star_icon.png" />
	<link rel="stylesheet" href="../styles/styles_Alabama_SignUp_Voters.css" />

	<script language="JavaScript" type="text/javascript"> </script> 
</head>
<body>	

	<hr id="redLines_HR">	
	<hr id="blueLines_HR">

	<div id="flex_Container_StarsAndStrips">
		<ul id="navigational_Bar_01">
			<li><a href="../views/view_AboutUs.html">About Us</a></li>
			<li>			
				<a>										
					<select name="state" id="states" onchange="location = this.value">
						<option disable selected >Sign Up States</option>	
						<option value="../views/view_Alabama_SignUp_Registrations.html">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					</select>	
				</a>	
			</li>
			<li><a href="../views/view_Login_Voters.html">Log In</a></li>			
		</ul>
	</div>
	
	<section>

		<div id="flex_Container_USA_Falling_Balls">
			<div id="row_Container_USA_Falling_Balls">
				<div id="column_Container_USA_Falling_Balls">

					<div id="flex_Container_FallingFlagBalls">
						
						<video id="background_Video" autoplay loop>
						
							<source src="../videos/Vecteezy_USA_Flag_Emoji_Ball_Falling_Screen_11168759_514 Free MP4 Trim.mp4" type="video/mp4" />
							
						</video>	
							<ul id="text_Container">			
								<li id="iVoteBallot_Title_01"> Alabama |<a id="voter_Link_HomePage" href = "../views/view_Home.html">iVoteBallot</a></li>			           
							</ul>		
							
					</div>

				</div>
			</div>
		</div>

	</section>				
	
	<br>

	<div id="flex_Container">
		<div id="flex_Container_Row">
			<div id="flex_Container_Column">

				<div id="left_Column">
					<p id="iVoteBallot_Title_02">Have You Receive Your Voter Registration Card?</p>
				
					<p id="iVoteBallot_Title_02">And, If Your Answer is Yes, then</p>

					<p id="voter_Card_01">
						<a href="https://www.sos.alabama.gov/alabama-votes/voter/register-to-vote"><img id="voter_Card_Image" src="../images/iVoteBallot_States_Icons/iVoteBallot - Example Card.png" /></a>					
					</p> 

					<p id="iVoteBallot_Title_03">
						You will need your official Alabama Driver License or Real ID License or State Identification Card;
						in order to complete your voter registration online account.						
					</p>

				</div>			
			</div>

			<div id="flex_Container_Column">

				<div id="right_Column">
					
					<p id="iVoteBallot_Title_04">Register to Vote Online in Alabama</p>					
					<br>					
						<a id="iVoteBallot_Title_06">										
							<select name="state" id="states" onchange="location = this.value">
								<option disable selected >Sign Up States</option>	
								<option value="../views/view_Alabama_SignUp_Registrations.html">Alabama</option>
								<option value="AK">Alaska</option>
								<option value="AZ">Arizona</option>
								<option value="AR">Arkansas</option>
								<option value="CA">California</option>
								<option value="CO">Colorado</option>
								<option value="CT">Connecticut</option>
								<option value="DE">Delaware</option>
								<option value="DC">District Of Columbia</option>
								<option value="FL">Florida</option>
								<option value="GA">Georgia</option>
								<option value="HI">Hawaii</option>
								<option value="ID">Idaho</option>
								<option value="IL">Illinois</option>
								<option value="IN">Indiana</option>
								<option value="IA">Iowa</option>
								<option value="KS">Kansas</option>
								<option value="KY">Kentucky</option>
								<option value="LA">Louisiana</option>
								<option value="ME">Maine</option>
								<option value="MD">Maryland</option>
								<option value="MA">Massachusetts</option>
								<option value="MI">Michigan</option>
								<option value="MN">Minnesota</option>
								<option value="MS">Mississippi</option>
								<option value="MO">Missouri</option>
								<option value="MT">Montana</option>
								<option value="NE">Nebraska</option>
								<option value="NV">Nevada</option>
								<option value="NH">New Hampshire</option>
								<option value="NJ">New Jersey</option>
								<option value="NM">New Mexico</option>
								<option value="NY">New York</option>
								<option value="NC">North Carolina</option>
								<option value="ND">North Dakota</option>
								<option value="OH">Ohio</option>
								<option value="OK">Oklahoma</option>
								<option value="OR">Oregon</option>
								<option value="PA">Pennsylvania</option>
								<option value="RI">Rhode Island</option>
								<option value="SC">South Carolina</option>
								<option value="SD">South Dakota</option>
								<option value="TN">Tennessee</option>
								<option value="TX">Texas</option>
								<option value="UT">Utah</option>
								<option value="VT">Vermont</option>
								<option value="VA">Virginia</option>
								<option value="WA">Washington</option>
								<option value="WV">West Virginia</option>
								<option value="WI">Wisconsin</option>
								<option value="WY">Wyoming</option>
							</select>	
						</a>	
					
						
				</div>

			</div>		

		</div>

	</div>

	<hr id="redLines_HR">	
	<hr id="blueLines_HR">

	
	<div id="footer_flex_container">        

		<ul id = "socialMedias_01">
			<li><a href = "../views/view_AboutUs.html">About</a></li>
			<li><a href = "#">Help Center</a></li>
			<li><a href = "#">Terms of Service</a></li>				
			<li><a href = "#">Privacy Policy</a></li>
			<li><a href = "#">Cookie Policy</a></li>
			<li><a href = "#">Social Medias</a></li>                
		</ul>			
		
		<hr id="blueLines_HR">

		<ul id="socialMedias_01">
			<li><a href="http://www.twitter.com"><img src="../images/iVoteBallot_SocialMedia_Icons/6214703_bird_logo_twitter_icon.png" /></a></li>
			<li><a href="http://www.facebook.com"><img src="../images/iVoteBallot_SocialMedia_Icons/433084_facebook_media_social_network_icon.png" /></a></li>
			<li><a href="http://www.youtube.com"><img src="../images/iVoteBallot_SocialMedia_Icons/2138495_colored_high quality_media_social_social media_icon.png" /></a></li>
			<li><a href="http://www.whatsapp.com"><img src="../images/iVoteBallot_SocialMedia_Icons/4213464_app_chat_communication_message_messenger_icon.png" /></a></li>
			<li><a href="http://www.instagram.com"><img src="../images/iVoteBallot_SocialMedia_Icons/1217174_instagram_icon.png" /></a></li>
			<li><a href="http://www.slack.com"><img src="../images/iVoteBallot_SocialMedia_Icons/8198236_slack_social network_interaction_communication_social media_icon.png" /></a></li>
			<li><a href="http://www.google.com"><img src="../images/iVoteBallot_SocialMedia_Icons/9022495_google_logo_duotone_icon.png" /></a></li>
			<li><a href="http://www.tiktok.com"><img src="../images/iVoteBallot_SocialMedia_Icons/9027137_tiktok_logo_thin_icon.png" /></a></li>
			<li><a href="http://www.tumblr.com"><img src="../images/iVoteBallot_SocialMedia_Icons/433078_media_social_tumblr_network_icon.png" /></a></li>
			<li><a href="http://www.linkedIn.com"><img src="../images/iVoteBallot_SocialMedia_Icons/777926_linkedin_business_communication_connection_network_icon.png" /></a></li>            
		</ul> 
		
		<div id="footer_flex_container">       
			<ul id="iVoteBallot_Footer_Insignia_01">  
				<a href="">© 2023 iVoteBallot</a></li>
			</ul>
		<div>	

	</div> 






	
</body>
</html>