/* To create a customized iStock.com background image for the iVoteBallot view_home.html webpage. */
/* To create a customized iStock.com background image for the iVoteBallot Alabama_SignUp_Voters.html webpage. */
html { 
    background-color: rgb(255, 255, 255);   
}

/* To create an iVoteBallot locally-installed custom font face which is defined by a custom  
   font name then point to the font file; in order to be use, as the custom font-family HTML
   element. */
   @font-face {
    font-family: "Megrim-Regular";
    src: url(../fonts/Source_Code_Pro/SourceCodePro-SemiBold.ttf) format('truetype');
    font-weight: normal;
}

/* To create an iVoteBallot locally-installed custom font face which is defined by a custom  
   font name then point to the font file; in order to be use, as the custom font-family HTML
   element. */
@font-face {
    font-family: "Roboto_Bold_700";
    src: url(../fonts/Roboto/Roboto_Bold_700.ttf) format('truetype');
    font-weight: bold;
}

/* To create a webkit scrollbar pseudo element affects which will style the scrollbar element
   to a specified width to which will be displayed onto the users' browsers. */
::-webkit-scrollbar {
	width: 15px;
  }
  
/* To create a webkit scrollbar track (progress bar) where there is a rocket metallic color bar
   ontop of the box shadow inset color to which will be displayed onto the users' browsers.. */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }

/* To create a webkit scrollbar thumb which will drag the scrolling handle to which will be
   displayed onto the users' browsers. */
::-webkit-scrollbar-thumb {
	background-color: red; 
	border-radius: 5px;
  }

/* To create a webkit scrollbar thumb hover selector element to which an users can hover his/her
   cursor with his/her mouse to generate a soft color affects. */
::-webkit-scrollbar-thumb:hover {
	background-color: #b30000; 
  }

/* To style the hr line attribute's ID element for which will add decorative designs' sets of 
   appearance to the horizontal rule line. */
#redLines_HR {
	height: 3px;
    border: none;
    background-color: rgb(255, 0, 0);
    margin: 3px;
}

/* To style the hr line attribute's ID element for which will add decorative designs' sets of 
   appearance to the horizontal rule line. */
#blueLines_HR {
	height: 3px;
    border: none;
    background-color: rgb(13, 65, 255);
    margin: 3px;
}

/* To create five separate unordered list (ul) flex items boxes with a set of row values which will place all flex
   items into a row. If users used smaller screen size devices which will make his/her smaller
   screen displays vertically oriented screen layout, use with the main flex container box
   column for vertical shrinkage. */
#navigational_Bar_01 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;    
    justify-content: center;
    padding: 40px;
    cursor: pointer;
    cursor: 14px;
    list-style: none;   
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(14px, 2vw, 20px);    
    color: rgb(13, 65, 255);
    background-color: rgb(255, 255, 255);
}

/* To style form attribute's element for which will add decorative designs' sets of appearance  
   to the hyperlink texts. */
#navigational_Bar_01  a {    
    text-decoration: none;
    display: block;
    background-color: inherit;
    padding: 5px;
    color: rgb(13, 65, 255);
	text-align: center;
    padding: 10px;   
}

/* To style form attribute's element for which will add decorative designs' sets of appearance to the 
   font hover hyperlink texts. */
#navigational_Bar_01 a:hover {
    background-color: rgb(201, 24, 24);
    color: rgb(255, 255, 255);
}

/* To set ivoteBallot media query range for all (which includes print and screen) types of responsive
   breakpoint for various viewport devices. */
@media all and (max-width: 1000px) {
    #navigational_Bar_01 {
        justify-content: space-around;
    }
}



/* To set ivoteBallot media query range for all (which includes print and screen) types of responsive
   breakpoint for various viewport devices. */
   @media all and (max-width: 900px) {
    #navigational_Bar_01 {
        justify-content: space-around;
    }
}

/* To set ivoteBallot media query range for all (which includes print and screen) types of responsive
   breakpoint for various viewport devices. */
@media all and (max-width: 800px) {
    #navigational_Bar_01 {
        justify-content: space-around;
    }
}

/* To set iVoteBallot media query range for all (which includes print and screen) types of responsive
   breakpoint for various viewport devices. */
@media all and (max-width: 700px) {
    #navigational_Bar_01 {
        flex-flow: column wrap;
        padding: 0%;        
    }
}

/* To set iVoteBallot media query range for all (which includes print and screen) types of responsive
   breakpoint for various viewport devices. */
@media all and (max-width: 600px) {
    #navigational_Bar_01 {
        flex-flow: column wrap;
        padding: 0%;        
    }
}

/* To set iVoteBallot media query range for all (which includes print and screen) types of responsive
   breakpoint for various viewport devices. */
@media all and (max-width: 425px) {
    #navigational_Bar_01 {
        flex-direction: column;     
    }
}

/* To set iVoteBallot media query range responsive breakpoint for various viewport devices. */
@media screen and (min-width: 250px) {
    body {
        padding: 25px;
        margin: 25px;
        background-color: rgb(255, 255, 255);
    } 
} 

/* To create a main flex container box column with a set of values of the area container to 
   which will displays properties and, houses within the main flex container box two children
   which are call flex items (left and right containers. */
#flex_Container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    justify-content: center;     
}

/* To create three separate flex items boxes with a set of row values which will place all flex
   items into a row. If users used a smaller screen size devices which will make his/her smaller
   screen displays vertically oriented screen layout, use with the main flex container box
   column for a vertical successful shrinkage to his/her device. */
#flex_Container_Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

/* To create flex items' column boxes which allows dimension to become flexible within the flex items'
   rows container boxes from the three flex items' box containers. */   
#flex_Container_Column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

/* To link the div tag to the three flex items boxes columns’ elements to which will allows the three column
   values to shrink and expand to their appropriate fitted space available within the three flex items boxes
   columns’ containers. */
#flex_Container_Column > div {
    display: flex;
    flex: 1;
    display: block;    
}













/* To create five separate unordered list (ul) flex items boxes with a set of row values which will place all flex
   items into a row. If users used smaller screen size devices which will make his/her smaller
   screen displays vertically oriented screen layout, use with the main flex container box
   column for vertical shrinkage. */
#text_Container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;    
    justify-content: center;
    padding: 40px;
    cursor: pointer;
    cursor: 14px;
    list-style: none;   
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 25px;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(14px, 3vw, 60px);    
    color: rgb(201, 24, 24);
    background-color: rgb(255, 255, 255);
}

/* To style form attribute's element for which will add decorative designs' sets of appearance  
   to the hyperlink texts. */
#text_Container  a {    
    text-decoration: none;
    display: block;
    background-color: inherit;
    padding: 5px;
    color: rgb(201, 24, 24);
	text-align: center;
    padding: 10px;   
}

/* To style form attribute's element for which will add decorative designs' sets of appearance to the 
   font hover hyperlink texts. */
#text_Container a:hover {
    background-color: rgb(201, 24, 24);
    color: rgb(255, 255, 255);
}

/* To create a main flex container box column with a set of values of the area container to 
   which will displays properties and, houses within the main flex container box one children
   which are call flex item box. */
#left_Column {  
	display: flex;
    flex-wrap: row wrap;
    flex-direction: column;
	position: relative;
    width: 100%;
    height: 100%;   
    color: rgb(13, 65, 255);    
    text-align: left;
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(14px, 3vw, 28px);
    justify-content: center; 
    
  }

/* To link the div tag to the one flex items box row element to which will allows the row values 
   to shrink and expand to their appropriate fitted space available within the one flex items box
   rows container. */  
#left_Column > #background_Video {   
    opacity: 100%;   
  }

#background_Video {
	opacity: 1;
	position: absolute;
	transition: opacity 0.5s ease-in-out;
}

#message_01 {	
	opacity: 0;
	position: relative;
	transition: opacity 0.5s ease-in-out;
	margin-left: 40px;
	margin-right: 40px;
  
}


/* To create right side flex item column box to which will allows the column's values to shrink and expand
   to their appropriate fitted space for storing and styling iVoteBallot descriptive information. */
#right_Column {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
      
    text-align: center; 
	/*border-left: 2px solid rgb(201, 24, 24);   */
   
}


#iVoteBallot_Message_01 {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;	
    width: 100%;
    height: 100%;   
    color: rgb(201, 24, 24);    
    text-align: center;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(14px, 3vw, 25px);
    justify-content: center; 
}

#iVoteBallot_Message_02 {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;	
    width: 100%;
    height: 100%;   
    color: rgb(13, 65, 255);    
    text-align: left;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(14px, 3vw, 25px);
    justify-content: center; 

}

#iVoteBallot_Message_03 {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;	
    width: 100%;
    height: 100%;   
    color: rgb(201, 24, 24);    
    text-align: left;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(14px, 3vw, 25px);
    justify-content: center; 
}

#submitHomePageButton {
    display: block;
    height: 40px;
    width: 70%;
    background-color: rgb(201, 24, 24);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    font-size: clamp(10px, 2vw, 18px);
    text-align: center;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    cursor: 14px;
}

/* To create a flex item columns boxes to which will allows the columns' values to shrink and expand
   to their appropriate fitted space for storing and styling iVoteBallot's social medias links and policies information. */
#socialMedias_01 {
    display: flex;
    flex-flow: row wrap;   
    align-items: center;
    justify-content: space-around;
    padding: 14px 14px;
    cursor: pointer;
    cursor: 14px;
    list-style: none;   
    background-color: transparent;  
    width: auto;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(14px, 1.5vw, 18px); 
    text-align: center;    
}

/* To style HTML tag (img) for which will add decorative designs sets of resizes to shrink and expand  
   to the iVoteBallot's social medias flex boxes. */
img {
    width: clamp(15px, 3vw, 25px);    
}

/* To style the attribute's element for which will add decorative designs' sets of appearance  
   to the hyperlink texts. */
#socialMedias_01 a {    
    text-decoration: none;
    display: block;
    background-color: inherit;
    padding: 15px;
    color:rgba(93, 99, 207, 0.45);
}

/* To style the attribute's element for which will add decorative designs' sets of appearance to the 
   font hover hyperlink texts. */
#socialMedias_01 a:hover {
    background-color: rgba(82, 108, 187, 0.238);
    color: rgb(136, 125, 125);
}

/* To create a main flex container box column with a set of values of the area container to 
   which will displays properties and, houses within the main flex container box two children
   which are call flex items (left and right containers. */
#footer_flex_container > ul li img {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;    
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

/* To create a flex item column box to which will allows the column's values to shrink and expand
   to their appropriate fitted space for storing and styling iVoteBallot's footer insignia. */
#iVoteBallot_Footer_Insignia_01 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 4px 14px;    
    list-style: none;   
    background-color: rgb(201, 24, 24);
    width: auto;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(12px, 1vw, 50px); 
    margin-top: 0px; 
    margin-bottom: 0px;  
}

/* To style form attribute's element for which will add decorative designs' sets of appearance  
   to the hyperlink texts. */
#iVoteBallot_Footer_Insignia_01 a {    
    text-decoration: none;    
    padding: 5px;
    color: rgb(234, 233, 233);
    text-align: center;
    padding: 10px;   
}

/* To style form attribute's element for which will add decorative designs' sets of appearance in order
   to allow sturctual pseduo class to the style content based on it relationship with its parent and sibling
   from the hyperlink text. */
#iVoteBallot_Footer_Insignia_01 li:last-of-type a {
    border-bottom: none;
}

