/* To create a customized iStock.com background image for the iVoteBallot Alabama_SignUp_Voters.html webpage. */
html { 
    background-color: rgb(255, 255, 255);   
}

/* To create an iVoteBallot locally-installed custom font face which is defined by a custom  
   font name then point to the font file; in order to be use, as the custom font-family HTML
   element. */
   @font-face {
    font-family: "Megrim-Regular";
    src: url(fonts/SourceCodePro-SemiBold.ttf) format('truetype');
    font-weight: normal;
}

/* To create an iVoteBallot locally-installed custom font face which is defined by a custom  
   font name then point to the font file; in order to be use, as the custom font-family HTML
   element. */
@font-face {
    font-family: "Roboto_Bold_700";
    src: url(../fonts/Roboto/Roboto_Bold_700.ttf) format('truetype');
    font-weight: bold;
}

/* To create a webkit scrollbar pseudo element affects which will style the scrollbar element
   to a specified width to which will be displayed onto the users' browsers. */
::-webkit-scrollbar {
    width: 15px;
}

/* To create a webkit scrollbar track (progress bar) where there is a rocket metallic color bar
   ontop of the box shadow inset color to which will be displayed onto the users' browsers.. */
::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(172, 10, 10, 0.3); 
}

/* To create a webkit scrollbar thumb which will drag the scrolling handle to which will be
   displayed onto the users' browsers. */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(201, 24, 24);
}

/* To create a webkit scrollbar thumb hover selector element to which an users can hover his/her
   cursor with his/her mouse to generate a soft color affects. */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(172, 10, 10, 0.3); ;    
}

/* To style the hr line attribute's ID element for which will add decorative designs' sets of 
   appearance to the horizontal rule line. */
#redLines_HR {
	height: 3px;
    border: none;
    background-color: rgb(255, 0, 0);
    margin: 3px;
}

/* To style the hr line attribute's ID element for which will add decorative designs' sets of 
   appearance to the horizontal rule line. */
#blueLines_HR {
	height: 3px;
    border: none;
    background-color: rgb(13, 65, 255);
    margin: 3px;
}

/* To create five separate unordered list (ul) flex items boxes with a set of row values which will place all flex
   items into a row. If users used smaller screen size devices which will make his/her smaller
   screen displays vertically oriented screen layout, use with the main flex container box
   column for vertical shrinkage. */
#navigational_Bar_01 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;    
    justify-content: center;
    padding: 40px;
    cursor: pointer;
    cursor: 14px;
    list-style: none;   
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(14px, 2vw, 20px);    
    color: rgb(13, 65, 255);
    background-color: rgb(255, 255, 255);
}

/* To style form attribute's element for which will add decorative designs' sets of appearance  
   to the hyperlink texts. */
#navigational_Bar_01  a {    
    text-decoration: none;
    display: block;
    background-color: inherit;
    padding: 5px;
    color: rgb(13, 65, 255);
}

/* To style form attribute's element for which will add decorative designs' sets of appearance to the 
   font hover hyperlink texts. */
#navigational_Bar_01 a:hover {
    background-color: rgb(201, 24, 24);
    color: rgb(255, 255, 255);
}

/* To set ivoteBallot media query range for all (which includes print and screen) types of responsive
   breakpoint for various viewport devices. */
@media all and (max-width: 1000px) {
    #navigational_Bar_01 {
        justify-content: space-around;
    }
}

/* To set ivoteBallot media query range for all (which includes print and screen) types of responsive
   breakpoint for various viewport devices. */
   @media all and (max-width: 900px) {
    #navigational_Bar_01 {
        justify-content: space-around;
    }
}

/* To set ivoteBallot media query range for all (which includes print and screen) types of responsive
   breakpoint for various viewport devices. */
@media all and (max-width: 800px) {
    #navigational_Bar_01 {
        justify-content: space-around;
    }
}

/* To set iVoteBallot media query range for all (which includes print and screen) types of responsive
   breakpoint for various viewport devices. */
@media all and (max-width: 700px) {
    #navigational_Bar_01 {
        flex-flow: column wrap;
        padding: 0%;        
    }
}

/* To set iVoteBallot media query range for all (which includes print and screen) types of responsive
   breakpoint for various viewport devices. */
@media all and (max-width: 600px) {
    #navigational_Bar_01 {
        flex-flow: column wrap;
        padding: 0%;        
    }
}

/* To style form attribute's element for which will add decorative designs' sets of appearance  
   to the hyperlink texts. */
#navigational_Bar_01 a {
    text-align: center;
    padding: 10px;   
}

/* To style form attribute's element for which will add decorative designs' sets of appearance  
   to the hyperlink texts. */
#navigational_Bar_01 li:last-of-type a {
    border-bottom: none;
}

/* To set iVoteBallot media query range for all (which includes print and screen) types of responsive
   breakpoint for various viewport devices. */
@media all and (max-width: 425px) {
    #navigational_Bar_01 {
        flex-direction: column;     
    }
}

/* To set iVoteBallot media query range responsive breakpoint for various viewport devices. */
@media screen and (min-width: 250px) {
    body {
        padding: 25px;
        margin: 25px;
        background-color: rgb(255, 255, 255);
    } 
} 

/* Sarai Hannah Ajai have changed the default HTML placeholder attribute style color from 
   grey to white with the non-standard "::placeholder" selector. */
/*
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox 
  }
*/
  
/*
  :-ms-input-placeholder { /* Internet Explorer 10-11 
   color: rgb(255, 255, 255);
  }
*/
/* 
  ::-ms-input-placeholder { /* Microsoft Edge 
   color: rgb(255, 255, 255);
  }

*/

/* To create 'form' tag style in order to align all DOM elements to the center of the form. */
form {
    text-align: center;
}

/* To style the label attribute's element for which will add decorative designs' sets of appearance to
   the "label" tag. */
label {
    display: inline-block;
    width: 71%;
    text-align: left;         
}

/* To create a main flex container box column with a set of values of the area container to 
   which will displays properties and, houses within the main flex container box two children
   which are call flex items (left and right containers. */
#flex_Container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(221, 205, 183);
    align-items: center;
    justify-content: center;
}

/* To create two separate flex items boxes with a set of row values which will place all flex
   items into a row. If users used smaller screen size devices which will make his/her smaller
   screen displays vertically oriented screen layout, use with the main flex container box
   column for vertical shrinkage. */
#row_Container {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

/* To link the div tag to the two flex items boxes row element to which will allows the row values
   to shrink and expand to their appropriate fitted space available within the two flex itemsboxes
   rows containers. */
#row_Container > div {
    display: flex;
    flex: 1;  
}

/* To create flex items' column boxes which allows dimension to become flexiable within the flex items'
   rows box containters from the flex items' box containers left and right sides. */   
#column_Containers {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;   
}

/* To link the div tag to the two flex items boxes columns element to which will allows the columns values
   to shrink and expand to their appropriate fitted space available within the two flex items boxes columns 
   containers. */
#column_Containers > div {
    display: flex;
    flex: 1;
}

/* To create left side flex item column box to which will allows the column's values to shrink and expand
   to their appropriate fitted space for storing and styling AccouNetrics contact us information. */
#left_Column {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;
    background: url(../images/iVoteBallot_Body/iStock-910057642.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;   
    color: rgb(201, 24, 24);
    height: auto;
    width: auto;
    text-align: center;
    line-height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(14px, 3vw, 16px);
    justify-content: center;  
    border-style: outset;
    border-color: rgb(201, 24, 24);
}

/* To style and customizes iVoteBallot company name for which will increase or decrease in font size to
   fit the users' monitor screen browsers. */
#flex_SignUp_Title_01 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 14px 14px;    
    list-style: none;   
    background-color: transparent;  
    width: auto;
    font-family: 'Roboto_Bold_700', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(25px, 7vw, 200px); 
    margin-top: auto; 
    margin-bottom: auto;      
}

/* To add and style customized iVoteBallot company name design to the font size hyperlink texts. */
#flex_SignUp_Title_01 a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: rgb(201, 24, 24);
}

/* To add and style customized iVoteBallot company name design to the font size hover hyperlink texts. */
#flex_SignUp_Title_01 a:hover {
    color:rgba(210, 198, 203, 0.30);
}

/* To style and customizes iVoteBallot company name for which will increase or decrease in font size to
   fit the users' monitor screen browsers. */
#flex_SignUp_Title_02 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 14px 14px;    
    list-style: none;   
    background-color: transparent;  
    width: auto;
    font-family: 'Roboto_Bold_700', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(14px, 2vw, 50px); 
    margin-top: auto; 
    margin-bottom: auto;      
}

/* To add and style customized iVoteBallot company name design to the font size hyperlink texts. */
#flex_SignUp_Title_02 a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: rgb(red, green, blue);
}

/* To add and style customized iVoteBallot company name design to the font size hover hyperlink texts. */
#flex_SignUp_Title_02 a:hover {
    color:rgba(210, 198, 203, 0.30);
}

/* To style and customizes iVoteBallot company name for which will increase or decrease in font size to
   fit the users' monitor screen browsers. */
#flex_SignUp_Title_03 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 14px 14px;    
    list-style: none;   
    background-color: transparent;  
    width: auto;
    font-family: 'Megrim_Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(18px, 3vw, 100px); 
    margin-top: auto; 
    margin-bottom: auto;      
}

/* To add and style customized iVoteBallot company name design to the font size hyperlink texts. */
#flex_SignUp_Title_03 a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: rgb(201, 24, 24);
}

/* To add and style customized iVoteBallot company name design to the font size hover hyperlink texts. */
#flex_SignUp_Title_03 a:hover {
    color:rgba(210, 198, 203, 0.30);
}

/* To style and customizes iVoteBallot company name for which will increase or decrease in font size to
   fit the users' monitor screen browsers. */
#flex_SignUp_Title_04 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 14px 14px;    
    list-style: none;   
    background-color: transparent;  
    width: auto;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(18px, 3vw, 100px); 
    margin-top: auto; 
    margin-bottom: auto;      
}

/* To add and style customized iVoteBallot company name design to the font size hyperlink texts. */
#flex_SignUp_Title_04 a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: rgb(201, 24, 24);
}

/* To add and style customized iVoteBallot company name design to the font size hover hyperlink texts. */
#flex_SignUp_Title_04 a:hover {
    color:rgba(210, 198, 203, 0.30);
}

/* To style HTML tag (img) for which will add decorative designs sets of resizes to shrink and expand  
   to the iVoteBallot's social medias flex boxes. */
#flex_Alabama_Seal {    
    width: clamp(50px, 6vw, 100px);
}

/* To create right side flex item column box to which will allows the column's values to shrink and expand
   to their appropriate fitted space for storing and styling AccouNetrics contact us information. */
#right_Column {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;     
    background-color: rgb(255, 255, 255);
    color: rgb(13, 65, 255);
    height: auto;
    width: auto;   
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(10px, 2vw, 18px);    
    justify-content: center; 
    border-style: inset;    
    border-top-color: rgb(13, 65, 255);
    border-bottom-color: rgb(13, 65, 255);
    border-right-color: rgb(13, 65, 255);
}

/* To add and style the form hidden borders to the inputs' tags. */
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    color: rgb(13, 65, 255);
    background-color: inherit;
    width: 70%;       
    
}

/* To style an input attributes' DOM elements for which will eliminate all focus borders around all attributes' 
   elements within the contact us form. */
#registrationCode, #firstName, #middleName, #lastName, #suffix, #idTypes, #idTypeNumber, #zipSelect, #email, #confirmEmail, #address, #unitType, #unitTypeNumber, #countrySelect, #stateSelect, #countySelect, #citySelect, #termsofAgreement {
    outline: none; 
    
}

/* To style an input attributes' DOM elements for which will add font decorations sets of appearances. */
#registrationCode, #firstName, #middleName, #lastName, #suffix, #idType, #idTypeNumber, #email, #confirmEmail, #address, #unitType, #unitTypeNumber, #countrySelect, #stateSelect, #countySelect, #citySelect, #zipSelect, #termsofAgreement {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(10px, 2vw, 18px);  
    color: rgb(13, 65, 255); 
    background-color: inherit;
    white-space: normal;
    padding: 2px; 
    
}

/* Sarai Hannah Ajai has added styles input attributes to DOM Elements; in order to receive a brown border
   colors whenever, the user clicks focus are inside the input fields. And, she has also added the CSS
   transition property which will animate a brown border color within 0.5 secords which will change the
   color of focus.
*/ 
#registrationCode, #firstName, #middleName, #lastName, #suffix, #idType, #idTypeNumber, #email, #confirmEmail, #address, #addressUnitType, #addressUnitTypeNumber, #countrySelect, #stateSelect, #countySelect, #citySelect, #zipSelect, #termsofAgreement {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#registrationCode:focus, #firstName:focus, #middleName:focus, #lastName:focus, #suffix:focus, #idType:focus, #idTypeNumber:focus, #email:focus, #confirmEmail:focus, #address:focus, #unitType:focus, #unitTypeNumber:focus, #countrySelect:focus, #stateSelect:focus, #countySelect:focus, #citySelect:focus, #zipSelect:focus, #termsofAgreement:focus {
    border:3px solid rgb(201, 24, 24);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    background-color: rgba(212, 221, 249, .50);    
    width: 70%;  
}    

/* To style a span attributes' DOM elements for which will add font decorations sets of appearances. */
#userRegistrationCodeErrorMessage, #userFirstNameErrorMessage, #userMiddleNameErrorMessage, #userLastNameErrorMessage, #userSuffixErrorMessage, #userIdTypeErrorMessage, #useridTypeNumberErrorMessage, #userEmailErrorMessage, #userConfirmEmailErrorMessage, #userAddressErrorMessage, #userAddressUnitTypeErrorMessage, #userAddressUnitTypeNumberErrorMessage, #userCountrySelectionErrorMessage, #userStateSelectionErrorMessage, #userCountySelectionErrorMessage, #userCitySelectionErrorMessage, #userZipSelectionErrorMessage {    
    margin: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(8px, 2vw, 12px);
    color: rgb(201, 24, 24);   
    text-align: left;
    white-space: normal;
    padding: 1px;     
}

#right_Column > #userAddressInstruction {    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(12px, 2vw, 15px);    
    justify-content: center;  
}

/* To style form attribute's element for which will add decorative designs' sets of appearance  
   to the State card image. */
#voter_Card_Image {
    width: 15%;
    height: 15%;  
    align-items: center;  
}

/* To style form attribute's element for which will add decorative designs' sets of appearance  
   to the hyperlink texts. */
#voter_Card_01 a {    
    text-decoration: none;
    display: block;
    background-color: inherit;
    padding: 5px;
    color: rgb(13, 65, 255);
}

/* To style form attribute's element for which will add decorative designs' sets of appearance to the 
   font hover hyperlink texts. */
#voter_Card_01 a:hover {
    background-color: rgba(93, 99, 207, 0.45);
    color: rgb(255, 255, 255);
}

#us_Dropdown_Group {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;     
    background-color: rgb(255, 255, 255);
    color: rgb(13, 65, 255);
    height: auto;
    width: auto;
    text-align: center;  
    margin: auto; 
    margin-top: 3rem;
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(10px, 2vw, 18px);    
    justify-content: center;     
    margin-top: 3rems;
}

/* To style the horizonal rule attribute's DOM element for which will add decorative designs' sets of appearances  
   to the horizonal rule (HR) tag's lines. */
#styleLine {
    height: 1px;
    border: none;
    background-color: rgb(136, 125, 125);
}

/* To style the submitButton attribute's DOM element for which will add decorative designs' sets of appearances
   to the submit button area. */
#submitButton {
    display: block;
    height: 40px;
    width: 70%;
    background-color: rgb(201, 24, 24);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    font-size: clamp(10px, 2vw, 18px);
    text-align: center;
    border: none;
    margin: 0 auto;
}

/* On screens that are 992px wide or less, go from two columns to one column. */
@media all and (max-width: 992px) {
    .column-containers {
      width: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of
     next to each other */
  @media all and (max-width: 600px) {
    .column-containers {
      width: 100%;
    }
  }

  /* To style an input attributes' DOM elements for which will add decorative designs' sets of appearances  
   to the input submit button. */
  #userTextCountMessage {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(136, 125, 125);
    font-size: clamp(9px, 2vw, 13px);    
    margin-top: 5px;
    justify-content: right;
  }

  /* To style the 'span' tag for which will add decorative designs' sets of appearances  
   to the span tag area. */
span {
    background-color: rgba(178, 161, 169, 0.881);
    display: inline-block;
    background-color: inherit;
    width: 61%;    
  }

/* To create a flex item columns boxes to which will allows the columns' values to shrink and expand
   to their appropriate fitted space for storing and styling iVoteBallot's social medias links and policies information. */
#socialMedias_01 {
    display: flex;
    flex-flow: row wrap;   
    align-items: center;
    justify-content: space-around;
    padding: 14px 14px;
    cursor: pointer;
    cursor: 14px;
    list-style: none;   
    background-color: transparent;  
    width: auto;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(14px, 1.5vw, 18px); 
    text-align: center;    
}

/* To style HTML tag (img) for which will add decorative designs sets of resizes to shrink and expand  
   to the iVoteBallot's social medias flex boxes. */
img {
    width: clamp(15px, 3vw, 25px);    
}

/* To style the attribute's element for which will add decorative designs' sets of appearance  
   to the hyperlink texts. */
#socialMedias_01 a {    
    text-decoration: none;
    display: block;
    background-color: inherit;
    padding: 15px;
    color:rgba(93, 99, 207, 0.45);
}

/* To style the attribute's element for which will add decorative designs' sets of appearance to the 
   font hover hyperlink texts. */
#socialMedias_01 a:hover {
    background-color: rgba(82, 108, 187, 0.238);
    color: rgb(136, 125, 125);
}

/* To create a main flex container box column with a set of values of the area container to 
   which will displays properties and, houses within the main flex container box two children
   which are call flex items (left and right containers. */
#footer_flex_container > ul li img {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;    
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

/* To create a flex item column box to which will allows the column's values to shrink and expand
   to their appropriate fitted space for storing and styling iVoteBallot's footer insignia. */
#iVoteBallot_Footer_Insignia_01 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 4px 14px;    
    list-style: none;   
    background-color: rgb(201, 24, 24);
    width: auto;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(12px, 1vw, 50px); 
    margin-top: 0px; 
    margin-bottom: 0px;  
}

/* To style form attribute's element for which will add decorative designs' sets of appearance  
   to the hyperlink texts. */
#iVoteBallot_Footer_Insignia_01 a {    
    text-decoration: none;    
    padding: 5px;
    color: rgb(234, 233, 233);
    text-align: center;
    padding: 10px;   
}

/* To style form attribute's element for which will add decorative designs' sets of appearance in order
   to allow sturctual pseduo class to the style content based on it relationship with its parent and sibling
   from the hyperlink text. */
#iVoteBallot_Footer_Insignia_01 li:last-of-type a {
    border-bottom: none;
}







.tabs-container {
    display: flex;
    flex-direction: column;
  }
  
  .tabs {
    display: flex;
    display: flex;
    flex-flow: row wrap;   
    align-items: center;
    justify-content: space-around;
    
  }
  
  .tab-button {
    width: 125px;
    height: 55px;
    padding: 5px;
    margin-right: 2px;
    background-color: rgb(201, 24, 24);
    border: none;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(15px, 1vw, 18px); 
    color:rgb(255, 255, 255);
   
  }
  
  .tab-content {
    display: flex;
  }
  
  .tab-panel {
    padding: 10px;
    display: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  
  .tab-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .previous, .next {
    margin-left: 0px;
    margin-right: 0px;
    width: 80px;
    padding: 10px;
    background-color: rgb(13, 65, 255);
    border: none;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(15px, 1vw, 18px); 
    color:rgb(255, 255, 255);
  }

  iframe {
   
    border: 2px solid rgb(201, 24, 24);
    width: 100%;
   align-items: center;
  }


#terms  {
    display: block;
    width: 100%;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(201, 24, 24);
    text-align: center;   
    border: none;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(15px, 1vw, 18px); 
    color:rgb(255, 255, 255);    
}


.terms_Agreement  {
    display: block;
    width: 100%;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgb(201, 24, 24);
    text-align: center;   
    border: none;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(15px, 1vw, 18px); 
    color:rgb(255, 255, 255);    
}

#terms {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;   
    border: none;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(15px, 1vw, 18px); 
    color:rgb(255, 255, 255);  
}

.privatePolicy_Agreement  {
    display: block;
    width: 100%;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(201, 24, 24);
    text-align: center;   
    border: none;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(15px, 1vw, 18px); 
    color:rgb(255, 255, 255);    
}

#privacy {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;   
    border: none;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(15px, 1vw, 18px); 
    color:rgb(255, 255, 255);  
}
  
.policyAgreements {
    display: block;
    width: 100%;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(13, 65, 255);
    text-align: center;   
    border: none;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(15px, 1vw, 18px); 
    color:rgb(255, 255, 255);    
}
  
#checkbox {
    vertical-align: middle;
    font-family: 'Megrim-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(15px, 1vw, 18px); 
    color:rgb(255, 255, 255);   
    width: auto; 
}




  
 /* On screens that are 992px wide or less, go from two columns to one column. */
@media all and (max-width: 992px) {
    iframe {
      width: 50%;

      
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of
     next to each other */
  @media all and (max-width: 600px) {
    iframe {
      width: 100%;
    }
  }
